.app {
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}


.search {
  padding: 10px;
  font-size: 20px;
}

.list {
  padding: 0;
  list-style: none;
  text-align: center;
}

.listItem {
  margin-bottom: 20px;
  font-size: 25px;
  color: #444;
  font-weight: 300;
}

table {
  width: 95%;
  margin: 50px 93px 50px 0px;
  border-spacing: 15px;
  color: #444;
  border: 1px solid lightslategray;
  border-collapse: collapse;
}

tr {
  text-align: center;
}

th {
  width: 250px;
  text-align: left;
  font-size: 20px;
  text-align: center;
  border: 2px solid rgb(10, 60, 77);
  padding: 10px;
}

td {
  width: 250px;
  font-size: 20px;
  border: 1px solid rgb(10, 60, 77);
  padding: 2px;
  padding: 10px;
}